@keyframes show{
    from{
        opacity: 0;
        filter: blur(5px);
    }
    to{
        opacity: 1;
    }
}

@keyframes tiny{
    from{
        scale: 75%;
        opacity: 0;
        filter: blur(10px);
    }
    to{
        scale: 100%;
        opacity: 1;
    }
}

@keyframes slideInRight {
    from {
        transform: translateX(30%);
        opacity: 0;
        filter: blur(10px);
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideInRight{
    animation: slideInRight 1s ease-in forwards;
}

.show{
    animation: show 1s ease-in forwards;
}

.tiny{
    animation: tiny 600ms ease-in forwards;
}